workflows/full_pipeline.json
{
  "name": "Agent Pipeline - Full (Direct Input)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "full-pipeline",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "full-pipeline-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8000/pipeline/process/demo",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ account_id: $json.body.account_id, transcript: $json.body.demo_transcript }) }}",
        "options": { "timeout": 300000 }
      },
      "id": "process-demo",
      "name": "Process Demo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8000/db/save",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ account_id: $json.account_id, version: 'v1', company_name: $json.company_name, account_memo: $json.account_memo, agent_spec: $json.agent_spec, raw_extraction: $json.raw_extraction, pipeline_type: 'demo' }) }}",
        "options": { "timeout": 30000 }
      },
      "id": "save-v1",
      "name": "Save v1 to DB",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $('Webhook').item.json.body.onboarding_transcript ? true : false }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-onboarding",
      "name": "Has Onboarding?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [960, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8000/pipeline/process/onboarding",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ account_id: $('Webhook').item.json.body.account_id, transcript: $('Webhook').item.json.body.onboarding_transcript, v1_memo: $('Process Demo').item.json.account_memo }) }}",
        "options": { "timeout": 300000 }
      },
      "id": "process-onboarding",
      "name": "Process Onboarding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8000/db/save",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ account_id: $json.account_id, version: 'v2', company_name: $json.company_name, account_memo: $json.account_memo, agent_spec: $json.agent_spec, raw_extraction: $json.raw_extraction, changelog: $json.changelog, pipeline_type: 'onboarding' }) }}",
        "options": { "timeout": 30000 }
      },
      "id": "save-v2",
      "name": "Save v2 to DB",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1440, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-v2",
      "name": "Respond v2",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1680, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $('Process Demo').item.json }}"
      },
      "id": "respond-v1",
      "name": "Respond v1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1200, 400]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Process Demo", "type": "main", "index": 0 }]]
    },
    "Process Demo": {
      "main": [[{ "node": "Save v1 to DB", "type": "main", "index": 0 }]]
    },
    "Save v1 to DB": {
      "main": [[{ "node": "Has Onboarding?", "type": "main", "index": 0 }]]
    },
    "Has Onboarding?": {
      "main": [
        [{ "node": "Process Onboarding", "type": "main", "index": 0 }],
        [{ "node": "Respond v1", "type": "main", "index": 0 }]
      ]
    },
    "Process Onboarding": {
      "main": [[{ "node": "Save v2 to DB", "type": "main", "index": 0 }]]
    },
    "Save v2 to DB": {
      "main": [[{ "node": "Respond v2", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "agent-pipeline" }],
  "pinData": {},
  "notes": "Full Pipeline: Demo → Save v1 → (if onboarding) Onboarding → Save v2\n\nPOST: { account_id, demo_transcript, onboarding_transcript? }"
}
