workflows/onboarding_pipeline.json
{
  "name": "Clara Pipeline - Onboarding (Direct Input)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "onboarding-pipeline",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook - Onboarding Input",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "onboarding-pipeline-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8000/pipeline/process/onboarding",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ account_id: $json.body.account_id, transcript: $json.body.transcript, v1_memo: $json.body.v1_memo || null }) }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "process-onboarding",
      "name": "Process Onboarding Transcript",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8000/db/save",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ account_id: $json.account_id, version: $json.version, company_name: $json.company_name, account_memo: $json.account_memo, agent_spec: $json.agent_spec, raw_extraction: $json.raw_extraction || null, changelog: $json.changelog || null, pipeline_type: 'onboarding' }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "save-to-db",
      "name": "Save to MongoDB",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $('Process Onboarding Transcript').item.json }}"
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [960, 300]
    }
  ],
  "connections": {
    "Webhook - Onboarding Input": {
      "main": [
        [
          {
            "node": "Process Onboarding Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Onboarding Transcript": {
      "main": [
        [
          {
            "node": "Save to MongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to MongoDB": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "clara-pipeline"
    }
  ],
  "pinData": {},
  "notes": "POST to webhook with:\n{\n  \"account_id\": \"my_company\",\n  \"transcript\": \"Full onboarding call transcript text here...\",\n  \"v1_memo\": {} (optional - provide if v1 not on disk)\n}\n\nWorkflow: Webhook → Process Onboarding → Save to MongoDB → Respond"
}
